{% extends "blog/base.html" %}
{% block content %}
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <h1>About Blog</h1>
    <p>
        This is website is for Hamza Ali(17103008) and Chitsimran Singh's(17103012) 4th semester EAD-DBMS project.
        It's a recommendation system that uses collaborative filtering and matrix factorization.
        <p></p>
        <a href=https://github.com/ryzbaka/MovieRecommendationSystem>Here's a link to the GitHub page for the project.</a> 
    </p>
{% endblock content %}




